@import "../../modules/_base.scss";
/*Bordered Page Blocks*/
@include media($large){//отступы, бордеры - см.также _page.scss
    .border-thumb{
        margin-bottom:0;
    }
    .border-thumb--imgleft{
        margin-left:-40px;
        padding-right:40px;
    }
    .border-thumb--rb{
        border-right:1px solid $text-color;
    }
    .border-thumb--bb{
        padding-bottom:40px;
        border-bottom:1px solid $text-color;
    }

    .border-thumb--lb{
        margin-left:-40px;
        padding-left:40px;
        border-left:1px solid $text-color;
    }

    .border-thumb--tp{
        padding-top:40px;
    }
}

@include media($extra-large){
    .border-thumb--imgleft{
        margin-left:-65px;
        padding-right:65px;
    }

    .border-thumb--bb{
        padding-bottom:60px;
    }
    .border-thumb--lb{
        margin-left:-65px;
        padding-left:65px;
    }

    .border-thumb--tp{
        padding-top:60px;
    }
}