@import "../../modules/_base.scss";
/*Portfolio Grid*/
.b-grid{
    //@extend .page__row;
    box-sizing:border-box;

    @include media($large){
        padding-left:40px;
        padding-right:40px;
    }

    @include media($extra-large){
        padding-left:60px;
        padding-right:60px;
    }


    .page__chair{
        margin:50px 0;
    }
}

.b-grid__inner{
    @extend .g-clearfix;
    margin-left:-10px;
    margin-right:-10px;
    padding:0 10px;

    @include media($large){
        padding:0;
    }
}

.b-grid__item{
    box-sizing:border-box;
    padding-left:10px;
    padding-right:10px;
}


.b-grid__col{
    float:left;
    min-height:1px;
    box-sizing:border-box;

    &.size-1of1 { width: 100%; }
    &.size-1of2 { width: 50%; }
    &.size-1of3 { width: 33.3333333%; }
    &.size-1of4 { width: 25%; }
}

#grid[data-columns]::before{
    visibility:hidden;
}

@media screen and (max-width: 630px){
    #grid[data-columns]::before{
        content: '1 .b-grid__col.size-1of1';
    }
}

@media screen and (min-width: 631px) and (max-width: 767px) {
     #grid[data-columns]::before{
        content: '2 .b-grid__col.size-1of2';
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
     #grid[data-columns]::before{
        content: '3 .b-grid__col.size-1of3';
    }

    .b-grid__col{
        &:last-of-type{
            margin-top:40px;
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
     #grid[data-columns]::before{
        content: '2 .b-grid__col.size-1of2';
    }
}

@media screen and (min-width: 1201px) and (max-width: 1599px) {
     #grid[data-columns]::before{
        content: '3 .b-grid__col.size-1of3';
    }
    .b-grid__col{
        &:last-of-type{
            margin-top:60px;
        }
    }
}

@media screen and (min-width: 1600px){
     #grid[data-columns]::before{
        content: '4 .b-grid__col.size-1of4';
    }

     .b-grid__col{
        &:nth-child(3){
            margin-top:40px;
        }
        &:last-of-type{
            margin-top:80px;
        }
    }
}

.no-js #grid[data-columns]::before,
.lt-ie9 #grid[data-columns]::before{
    display:none;
}


.b-grid__link{
    display:block;
    color:$text-color;
    text-decoration:none;
}

.b-item{
    max-width:360px;
    margin:0 auto 20px;
    position:relative;
    overflow:hidden;

    //&:hover{
    //    .b-item__content{
    //        left:0;
    //    }
    //}


    &:hover{
        .b-item__content{
            top:0;
            opacity:1;
        }
    }
}

.b-item__content{
    position:absolute;
    box-sizing:border-box;
    //top:0;
    //left:-360px;
    //will-change:left;
    width:100%;
    //height:100%;
    padding:20px;
    //border:1px solid $text-color;
    //box-shadow:inset 0 0 3px rgba($text-color, .7);
    background:#fff;
    background:rgba(#fff, .8);
    //overflow:hidden;
    //@include transition(left .3s linear);


    top:-20px;
    will-change:top;
    opacity:0;
    @include transition-property(opacity, top);
    @include transition-timing-function(ease-in);
    @include transition-duration(.4s);

    p{
        margin:10px 0;
    }
}

.b-item__content--alt{
    background:#dadada;
    background:rgba(#dadada, .8);
}


//.b-item__title{
//    @extend .g-title;
//    margin:0;
//}
.b-item__more{
    display:block;
    white-space:nowrap;
    color:$primary;
    text-decoration:underline;
}


.b-item__category,
.b-item__name{
    display:block;
    font-family:$font-regular;
    color:$title-color;
    line-height:1.1;
}

.b-item__category{
    margin-bottom:10px;
    @include font-size(13px);
}
.b-item__name{
    @include font-size(18px);
    text-align:right;
}

.b-item__img{
    @include filter(grayscale(100%));
    @include transition(filter .3s ease-in);

    &:hover{
        @include filter(grayscale(0));
    }
}