@font-face {
	font-family:'CenturyGothic-Regular';
	src: url('../fonts/CenturyGothic_gdi.eot');
	src: url('../fonts/CenturyGothic_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic_gdi.woff') format('woff'),
		url('../fonts/CenturyGothic_gdi.ttf') format('truetype'),
		url('../fonts/CenturyGothic_gdi.svg#CenturyGothic-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-F003;
}

@font-face {
	font-family:'CenturyGothic-Bold';
	src: url('../fonts/CenturyGothic-Bold_gdi.eot');
	src: url('../fonts/CenturyGothic-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-Bold_gdi.woff') format('woff'),
		url('../fonts/CenturyGothic-Bold_gdi.ttf') format('truetype'),
		url('../fonts/CenturyGothic-Bold_gdi.svg#CenturyGothic-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-F003;
}

@font-face {
	font-family:'CenturyGothic-Italic';
	src: url('../fonts/CenturyGothic-Italic_gdi.eot');
	src: url('../fonts/CenturyGothic-Italic_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-Italic_gdi.woff') format('woff'),
		url('../fonts/CenturyGothic-Italic_gdi.ttf') format('truetype'),
		url('../fonts/CenturyGothic-Italic_gdi.svg#CenturyGothic-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-F003;
}
